<!-- <div class="footer fixed navbar-fixed-bottom bg-info"> -->
<div class="footer bg-info navbar-fixed-bottom" style="margin-bottom: 0;  overflow: hidden;">    
    <div class="row text-center ">
        <div class="col-md-4">
            <a  class="text-muted">
                <h3>About</h3>
            </a>
        </div>
        <div class="col-md-4">
            <a href="mailto:tusharvyavahare987@gmail.com" target="_blank" class="text-muted">
                <h3>Contact Us</h3>
            </a>
        </div>
        <div class="col-md-4" style="padding: 0;">
            <a href="https://www.linkedin.com/in/tusharvyavahare07/" target="_blank" class="text-muted">
                <h3>Social</h3>
            </a>
        </div>
    </div>
</div>